<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPreiod="100 seconds" debug="true">
    <!--
        logback.xml的加载顺序早于springboot的application.yml配置文件,或者可以使用logback-spring.xml,此处采用在system的property读取配置；
        scan:热加载,scanPreiod热加载扫描时间，debug：logback打印内部日志
        AsyncAppender：异步打印
    -->

    <include resource="logback-dao-sql.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>${sys:OUTPUT_STYLE}</pattern>
        </encoder>
    </appender>


    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${sys:FILE_PATTERN}</fileNamePattern>
            <maxFileSize>${sys:FILE_SIZE}</maxFileSize>
            <maxHistory>${sys:MAX_HISTORY_DAY}</maxHistory>
            <totalSizeCap>${sys:TOTAL_CAP_SIZE}</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>{sys:OUTPUT_STYLE}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>


    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${sys:ERROR_FILE_PATTERN}</fileNamePattern>
            <maxFileSize>{sys:ERROR_FILE_SIZE}</maxFileSize>
            <maxHistory>${sys:ERROR_MAX_HISTORY_DAY}</maxHistory>
            <totalSizeCap>${sys:ERROR_TOTAL_CAP_SIZE}</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>{sys:OUTPUT_STYLE}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>


    <appender name="ASYNC_WRITE_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>${sys:QUEUE_SIEZ}</queueSize>
        <appender-ref ref="INFO_FILE"/>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT" level="info"/>
        <appender-ref ref="ASYNC_WRITE_FILE" level="info"/>
        <appender-ref ref="ERROR_FILE" level="error"/>
    </root>
</configuration>